---
---

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Round', sans-serif;
}

.intro-header, .banner {
	background: #285BB8;
}

.intro-header h3 > a {
	color: #7DC4FF;
	text-decoration: underline;
}

.banner h3 > a {
	color: #7DC4FF;
}

.image-include {
	height: 450px;
	width: 450px;
	border: solid black 1px;
}

.banner h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

#interactive-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.intro-header {
	position: relative;
}

.circle-color {
	position: absolute;
	border-radius: 50%;
	transform: scale(0,0);
	transition: transform 3s ease, opacity 2s ease;
	background-color: blue;
}

#opening-circle {
	background-color: #6D91D4;
}


