<div id="extraScroll">
    <img id="downArrow" src="images/down_arrow.svg" alt="Down Arrow">
    <div id="presentText">
        <div id="presentTextInner">
            <h1>Your Project is Next.</h1>
            <p>Together we can build something&nbsp;great.</p><p>Let's get in touch: <a href="mailto:maxlaumeister@gmail.com">max.laumeister@gmail.com</a>
        </div>
    </div>
    <div id="iframeWrapper">
        
        <div id="iframeInner">
            <div id="browserDecoration">
                <div id="bbuttons">
                    <div class="bbutton bbutton1">
                    </div>
                    <div class="bbutton bbutton2">
                    </div>
                    <div class="bbutton bbutton3">
                    </div>
                </div>
            </div>
            <div id="browserURL">
                <div>
                    <div id="browserForwardBack">
                        <img id="browserBack" src="images/back_button.svg" alt="Back Button Image"><img id="browserForward" src="images/back_button.svg" alt="Forward Button Image">
                    </div>
                    <div id="browserURLinputcell">
                        <input id="browserURLinput" type="text" readonly="readonly">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
