<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#portfolio">Projects</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> {{ site.title }}, All Rights Reserved. <a href="https://github.com/swcool/landing-page-theme">Theme.</a></p>
            </div>
        </div>
    </div>
</footer>
<a id="contact"></a>

