<a id="home"></a>

{% if site.readyforwork == true %}
<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="#contact">Available Now for Hire</a>
    </div>
</div>
{% endif %}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#portfolio">Projects</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<div class="intro-header">
    <div id="interactive-container">
        <div id="opening-circle" class="circle-color">
        </div>
        <canvas id="circles-canvas"></canvas>
    </div>
    <div id="header-container" class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <div class="intro-text">
                        <h1 class="intro-title-1">Hi.</h1>
                        <h3 class="intro-message-1">
                            My name is Maximillian,<br>
                            And I like to make <a class="interactive-go" href="javascript:void(0)">interactive</a> things.<span class="intro-message-konami message-hidden"> </span>
                        </h3>
                        <h1 class="intro-title-2">Wow.</h1>
                        <h3 class="intro-message-2 message-hidden">
                            You must like <a class="interactive-go" href="javascript:void(0)">interaction</a> too.<br>
                            Why not take a look at <a href="#portfolio">my portfolio</a>?
                            <span class="intro-message-3 message-hidden"><br>Or better yet, <a href="#contact">interact with me</a>?</span>
                            <span class="intro-message-4 message-hidden"><br>(Pretty, isn't it.)</span>
                        </h3>
                        <div class="intro-text-noclick"></div>
                       </div>
                    <hr class="intro-divider">
                    {% include social_buttons.html %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- /.container -->

</div>
<a id="portfolio"></a>
<!-- /.intro-header -->
