<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha384-6ePHh72Rl3hKio4HiJ841psfsRJveeS+aLoaEf3BWfS+gTF0XdAqku2ka8VddikM" crossorigin="anonymous"></script>
<script>
    // jQuery fallback, in case CDN is unavailable
    if (!window.jQuery) { document.write('<script src="{{ site.ext_url }}/fallback/jquery-1.11.3.min.js"><\/script>'); }
</script>

<script>
{% asset polyfills.js %}
{% asset konami.js %}
{% asset interactive.js %}
{% asset extra_scroll.js %}
{% asset bootstrap-3.3.5.min.js %}
{% asset resume-modal.js %}
{% asset date-js-shim.js %}
{% asset serviceworker-init.js %}
</script>

<script src="https://js.pusher.com/3.0/pusher.min.js" integrity="sha384-icMP6H1KwU+0CgdYouvShx1yTJKOtoYDJvVuLvpuSZSICeHwIcRNaNmpe+qyPQZi" crossorigin="anonymous"></script>
