<nav {% if site.reverse == true %}id="nav-left"{% else %}id="nav"{% endif %}>
	<div id="nav-list">
		<a href="{{ site.baseurl }}">Blog Posts</a>

		<!-- Nav pages -->
	  {% for page in site.pages %}
	    {% if page.layout == "page" %}
	      <a href="{% if site.baseurl == "/" %}{{ page.url }}{% else %}{{ page.url | prepend: site.baseurl }}{% endif %}" title="{{ page.title }}">{{ page.title }}</a>
	    {% endif %}
	  {% endfor %}
    
    <!-- Nav links -->
	  {% include link.html %}

	</div>
	
	<div id="nav-bio">
	    <h3>Bio</h3>
	    <p>Hi! My name is Maximillian, and I'm a Web Developer living in Santa Cruz, CA. I like to spend my free time drawing, composing music, and tinkering with web tech.</p>
	    <p>To get in touch, send me an email at <a href="mailto:max.laumeister@gmail.com">max.laumeister@gmail.com</a></p>
	</div>
  
  <!-- Nav footer -->
	{% if site.custom_nav_footer == true %}
	  {% include nav-footer-custom.html %}
	{% else %}
	  {% include nav-footer.html %}
	{% endif %}

</nav>
