{% if post.video_sources %}
    <div class="vid-container inactive">
        <video controls preload="none" width="450" height="253" poster="{{ post.video_thumb | asset_path }}">
            {% for source in post.video_sources %}
                <source src="{{ source.url | asset_path }}" type='{{ source.type }}' data-res='{{ source.res }}' />
            {% endfor %}
        </video>
        <div class="play-button"></div>
    </div>
{% endif %}
{% if post.youtubeId %}
	<div class="lazyYT" data-youtube-id="{{ post.youtubeId }}" data-ratio="16:9" data-parameters="rel=0&amp;modestbranding=1&amp;showinfo=0">Please enable JavaScript to view this YouTube video.</div>
{% elsif post.img %}
	<img src="{{ post.img }}" />
{% endif %}
