<div id="resume-modal-underlay">
<div id="resume-modal">
    <div id="resume-container">
        <div id="resume-content">
            <iframe id="resume-frame" src="pdfjs/web/viewer.html?file=../../resume-laumeister.pdf" width="100%" height="100%" frameborder="0"></iframe>
            <a id="downloadButton" class="resumeButton clickable" href="resume-laumeister.pdf" target="_blank" download>
                <div id="downloadIt"><img src="resume/download.png" alt="Download"> <span>Download PDF</span></div>
            </a>
        </div>
        <a id="resume-close" href="javascript:void(0)">&times;</a>
    </div>
</div>
</div>