<div id="resume-modal-underlay">
<div id="resume-modal">
    <div id="resume-container">
        <div id="resume-content">
            <iframe id="resume-frame" src="pdfjs/web/viewer.html?file=../../resume-maxlaumeister.pdf"></iframe>
            <a id="downloadButton" class="resumeButton clickable" href="resume-maxlaumeister.pdf" target="_blank" download>
                <div id="downloadIt">{% image download.png alt="Download" %} <span>Download PDF</span></div>
            </a>
        </div>
    </div>
    <a id="resume-close" class="invisible" href="javascript:void(0)">&times;</a>
</div>
</div>
