<script src="{{ "js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "js/smooth-scroll.min.js" | prepend: site.baseurl }}"></script>
<script>
    smoothScroll.init({
        speed: 1000, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        updateURL: false, // Boolean. Whether or not to update the URL with the anchor hash on scroll
        offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
        //callback: function ( toggle, anchor ) {} // Function to run after scrolling
    });
</script>

<!-- Initialize sharing buttons -->
<script>
    var title = document.title;
    var encoded_title = encodeURIComponent(title);
    
    var url = window.location.href;
    var encoded_url = encodeURIComponent(url);
    
    var fb = document.getElementsByClassName("ico-facebook");
    
    for (var i = 0; i < fb.length; i++) {
        fb[i].href = "https://www.facebook.com/sharer.php?u=" + encoded_url;
    }
    
    var tw = document.getElementsByClassName("ico-twitter");
    
    for (var i = 0; i < tw.length; i++) {
        tw[i].href = "https://twitter.com/share?text=" + encoded_title + "&url=" + encoded_url + "&via=maxlaumeister";
    }
    
    var gp = document.getElementsByClassName("ico-google");
    
    for (var i = 0; i < gp.length; i++) {
        gp[i].href = "https://plus.google.com/share?url=" + encoded_url;
    }
</script>