/*- Custom style -*/

// -- Put custom style under this point -- //

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrap {
    padding-bottom: 6rem;
}

#wrap {
    min-height: 100%;
    position: relative;
}

#posts, .post > p {
    margin-bottom: 0;
}

pre {
    margin-left: 2em;
}

code {
    background: none;
}

.floatleft {
    float: left;
    margin: 0 24px 15px 24px;
}

#nav-bio {
    p {
        margin-left: 1em;
        margin-right: 1em;
        text-align: left;
    }
    a {
        display: inline;
        text-decoration: underline;
        padding: 0;
        font-weight: bold;
    }
}

#nav-menu {
    left: 25px;
    right: auto;
}

$menu-width: 25rem;

#nav {
    width: $menu-width;
    left: -$menu-width;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#nav.menu-open {
  -webkit-transform: translateX($menu-width);
  -moz-transform: translateX($menu-width);
  -ms-transform: translateX($menu-width);
  transform: translateX($menu-width);
  width: $menu-width;
}

hr {
    border-color: #d4d4d4;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
}

h4 {
    font-size: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
