<a id="about" style="position: relative; top: -50px;"></a>
<div id="bioSection" class="content-section-b">
    <div class="container">
        <div class="inner">
            <img id="bioImage" src="{% asset_path bio-image.jpg %}" srcset="{% asset_path bio-image.jpg %} 1x, {% asset_path bio-image-2x.jpg %} 2x" alt="Portrait of Maximillian Laumeister" />
            <div id="bioText">
                <p>My name is <strong>Maximillian Laumeister</strong>, and I’m a Software Engineer living in Santa Cruz, CA. I like to spend my free time programming, drawing, composing music, and tinkering with web tech!</p>
                <p>I have a B.S. in Computer Science: Game Design from University of California: Santa Cruz, and I am experienced with HTML5/CSS/Javascript/jQuery, Unity3D, Java, and C/C++. In addition to my programming background, I also have a strong design and video production background, including experience with Adobe Photoshop, Illustrator, Premiere, and After Effects.</p>
                <p>Some of my biggest achievements are getting my software featured <a href="http://www.npr.org/2013/08/13/211735430/lawmakers-banking-regulators-take-on-bitcoin">on NPR</a> and <a href="http://www.theverge.com/2013/3/31/4168542/listen-to-bitcoin-in-real-time">The Verge</a>, hitting the front page of Reddit <a href="https://www.reddit.com/r/Minecraft/comments/gt8qu/minecraft_in_5_seconds_maybe_4/">multiple</a> <a href="https://www.reddit.com/r/InternetIsBeautiful/comments/416ypm/listen_to_the_sound_of_bitcoin_transactions_with/">times</a>, graduating with highest honors, getting 8 million views on my <a href="https://www.youtube.com/user/MusicalWolfe">YouTube partner channel</a>, and earning 10,000 reputation for posting <a href="https://stackoverflow.com/users/2234742/maximillian-laumeister?tab=answers&sort=votes"><span class="so_answers_count"></span>helpful answers</a> to programming questions on Stack Overflow.</p>
                <p>Below is a portfolio of my projects. If you’d like to get in touch, I’d love to hear from you at <a href="mailto:max@maxlaumeister.com">max@maxlaumeister.com</a>.</p>
                <p>-Max</p>
            </div>
        </div>
    </div>
</div>
