<div id="extraScroll">
    <div id="downArrow">{% include down_arrow.svg %}</div>
    <div id="presentText">
        <div id="presentTextInner">
            <h1>Your Project is Next.</h1>
            <div style="display: inline-block;">I live in <a target="_blank" href="https://www.google.com/maps/place/Santa+Cruz,+CA/@37.4070139,-122.0127894,7.25z/data=!4m2!3m1!1s0x808e441b7c36d549:0x52ca104b2ad7f985">Santa Cruz, CA</a>,</div> <div style="display: inline-block;">and I work nearby and remotely.</div>
            <div style="display: inline-block;">Let's get in touch: <a href="mailto:maxlaumeister@gmail.com">max.laumeister@gmail.com</a></div>
        </div>
    </div>
    <div id="iframeWrapper">
        
        <div id="iframeInner">
            <div id="browserDecoration">
                <div id="bbuttons">
                    <div class="bbutton bbutton1">
                    </div>
                    <div class="bbutton bbutton2">
                    </div>
                    <div class="bbutton bbutton3">
                    </div>
                </div>
            </div>
            <div id="browserURL">
                <div>
                    <div id="browserForwardBack">
                        <div id="browserBack">{% include back_button.svg %}</div><!-- collapse whitespace
                        --><div id="browserForward">{% include back_button.svg %}</div>
                    </div>
                    <div id="browserURLinputcell">
                        <input id="browserURLinput" type="text" readonly="readonly">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
