<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Find me on the Internet: 
                <ul class="list-inline" style="display: inline; margin-left: 1em;">
                    <li>
                        <a href="https://www.linkedin.com/in/maxlaumeister">LinkedIn</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://twitter.com/maxlaumeister">Twitter</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://github.com/MaxLaumeister">GitHub</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://stackoverflow.com/users/2234742/maximillian-laumeister">Stack Overflow</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://www.youtube.com/user/MusicalWolfe">YouTube</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://www.reddit.com/user/musicalwolfe">Reddit</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://plus.google.com/+MaxLaumeister">Google+</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://keybase.io/maxlaumeister">Keybase</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> {{ site.title }}, All Rights Reserved. <a href="https://github.com/swcool/landing-page-theme">Theme.</a></p>
            </div>
        </div>
    </div>
</footer>

