<!-- Page Content -->
{% include bio.html %}
{% include skills.html %}
<a id="portfolio" class="anchorLink"></a>
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <a name="{{post.elementId}}" data-proofer-ignore></a>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                        {% if post.subtitle %}<h3 class="section-subheading">{{ post.subtitle }}</h3>{% endif %}
                    <div class="post-tags">
                        {% for tag in post.tags %}
                            <span class="post-tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <div class="post-content">
                        {{ post.description }}
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="postimg img-responsive">
                            {% include post_content.html %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% else %}
    <a name="{{post.elementId}}" data-proofer-ignore></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    {% if post.subtitle %}<h3 class="section-subheading">{{ post.subtitle }}</h3>{% endif %}
                    <div class="post-tags">
                        {% for tag in post.tags %}
                            <span class="post-tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <div class="post-content">
                        {{ post.description }}
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <div class="postimg img-responsive">
						{% include post_content.html %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% endif %}
{% endfor %}
