<div id="resume-modal-underlay">
    <div id="resume-modal">
        <div id="resume-container">
            <div id="resume-content">
                <iframe id="resume-frame"></iframe>
                <a id="downloadButton" class="resumeButton clickable" href="resume-maxlaumeister.pdf" target="_blank" download>
                    <div id="downloadIt"><img title="Download PDF" alt="Download PDF" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAABcElEQVR4Ac3Nu0orURjF8W8IdinERkRRfAythuBbaJEniGItKoIIni4czitYihesvScZE0OCBEWUqLkcG7vExrAc3WQ28y2ZRLBwfs3G9eWv/J4PM6jgJYL45iFa8OhU0EA9gvieOWGfddQiia/GCft8ihbc/Efq68BjD/amaRI68BAtdNNAigPVHoYh4gbGRX+4j/a29ZFg9nnXQxUNNC0O3H4TBW7CtpfiCXGNeOJgTe8cuA4bGxVHup8zOaF3DlTCzM9tQu8cuFJE0TsFyooovKtASRGFdxUoKqLwrgIFRRTeVSBvLMyK+0l95q+Lc907DnhGewMOxCCOv3oGB7IGililhOH4SzG4o0AmcIkVTiCGTX+xVxQ4s1CgRKzzB/nQDQVOQy6wDCf03z11QYETxQsSA/iLHO0UOCY5rGMQI/iHDK8UeN3HEcmijBLOeWnttsSQ7iOdbO/hsD+tnXQyLYYEjyGZFrdPU/71T33vp+HiZtarXuoAAAAASUVORK5CYII=" />
 <span>Download PDF</span></div>
                </a>
            </div>
        </div>
        <a id="resume-close" href="javascript:void(0)">&times;</a>
    </div>
</div>
