---
layout: default
---
<article id="post-page">
	<h2 class="pagetitle">{{ page.title }}</h2>	
	<div class="by-line">
	    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
	
	    {% include sharebuttons.html %}
	    
    </div>

	<div class="content">

		{{ content }}
		
	</div>
</article>

<div class="by-line">
    <div class="sharingContainer">
        {% include sharebuttons.html %}
    </div>
    <hr>
    <div id="footnote-bio">
        <div>
            <div class="image-container">
                <a href="https://www.maxlaumeister.com/"><img class="avatar" src="https://www.maxlaumeister.com/thumb.png" width="156" height="100"></a>
            </div>
            <div>
                <h4><a href="https://www.maxlaumeister.com/">Maximillian Laumeister</a></h4>
                <p>Software Engineer living in Santa Cruz, CA, creator of <a href="http://www.bitlisten.com/">BitListen.com</a>. I like to spend my free time programming, drawing, composing music, and tinkering with web tech.</p>
            </div>
        </div>
    </div>
    <hr>
</div>

<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
    this.page.url = "{{ site.url }}{{ page.url | remove_first: "/"}}/";
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//blog-maxlaumeister.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ site.url }}",
      "name": "Blog"
    }
  },
  {
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ site.url }}{{ page.url | remove_first: "/"}}/",
      "name": "{%if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}"
    }
  }]
}
</script>
