<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		<div id="codeFixed">
		
		</div>
		<div id="pageWrapper">
		    <div id="pageContainer">
		        <div id="pageContent">
		        {% include header.html %}
		        {% include page_content.html %}
		        {% include contact.html %}
		        {% include footer.html %}
		        </div>
		        
		    </div>
		    <div id="extraScroll">
		        <div id="presentText">
	                <h1>Your Project is Next.</h1>
	                <p>Together we can build something great.<br>Let's get in touch: <a href="mailto:maxlaumeister@gmail.com">max.laumeister@gmail.com</a>
	            </div>
	            <div id="iframeWrapper">
	                <div id="iframeInner">
	                </div>
		        </div>
            </div>
		</div>
		<script>
		    var pageWrapperEl = document.getElementById("pageWrapper");
		    var pageContainerEl = document.getElementById("pageContainer");
		    var pageContentEl = document.getElementById("pageContent");
		    var presentTextEl = document.getElementById("presentText");
		    var iframeWrapperEl = document.getElementById("iframeWrapper");
		    var iframeInnerEl = document.getElementById("iframeInner");
		    
		    var pageHeight = pageContentEl.offsetHeight;
		    
	        var navEl = document.getElementsByClassName("navbar")[0];
	        
	        var navIsHidden = false;
	        var iframeLoaded = false;
	        
	        function scrollChange() {
	            if (window.scrollY >= pageHeight && !navIsHidden) {
	                navEl.classList.add("tucked");
	                pageContainerEl.classList.add("presenting");
	                iframeWrapperEl.classList.add("presenting");
	                presentTextEl.classList.add("presenting");
	                navIsHidden = true;
	            } else if (window.scrollY < pageHeight && navIsHidden) {
	                navEl.classList.remove("tucked");
	                pageContainerEl.classList.remove("presenting");
	                iframeWrapperEl.classList.remove("presenting");
	                presentTextEl.classList.remove("presenting");
	                navIsHidden = false;
	            }
	            
	            if (window.scrollY >= pageHeight && !iframeLoaded) {
	                var ciframe = document.createElement("iframe");
	                ciframe.className = "recursiveFrame";
	                ciframe.src = "index.html";
	                iframeInnerEl.appendChild(ciframe);
	                iframeLoaded = true;
	            }
	        }
	        
	        window.onscroll = scrollChange;
	        scrollChange();
		</script>
		{% include js.html %}
	</body>
</html>
