<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		<div id="codeFixed">
		
		</div>
		        <div id="pageContent">
		        {% include header.html %}
		        {% include page_content.html %}
		        {% include contact.html %}
		        {% include footer.html %}
		        </div>
		    <div id="extraScroll">
		        <img id="downArrow" src="images/downarrow.svg">
		        <div id="presentText">
	                <div id="presentTextInner">
	                    <h1>Your Project is Next.</h1>
	                    <p>Together we can build something great.<br>Let's get in touch: <a href="mailto:maxlaumeister@gmail.com">max.laumeister@gmail.com</a>
	                </div>
	            </div>
	            <div id="iframeWrapper">
	                
	                <div id="iframeInner">
	                    <div id="browserDecoration">
	                        <div id="bbuttons">
	                            <div class="bbutton bbutton1">
	                            </div>
	                            <div class="bbutton bbutton2">
	                            </div>
	                            <div class="bbutton bbutton3">
	                            </div>
	                        </div>
	                    </div>
	                    <div id="browserURL">
	                        <div>
	                            <div id="browserForwardBack">
	                                <img id="browserBack" src="images/backbutton.svg"><img id="browserForward" src="images/backbutton.svg">
	                            </div>
	                            <div id="browserURLinputcell">
	                                <input id="browserURLinput" type="text" readonly="readonly">
	                            </div>
	                        </div>
	                    </div>
	                </div>
		        </div>
		<script>
		    var pageWrapperEl = document.getElementById("pageWrapper");
		    var pageContentEl = document.getElementById("pageContent");
		    var presentTextEl = document.getElementById("presentText");
		    var iframeWrapperEl = document.getElementById("iframeWrapper");
		    var iframeInnerEl = document.getElementById("iframeInner");
		    var browserURLinput = document.getElementById("browserURLinput");
		    var downArrowEl = document.getElementById("downArrow");
		    var extraScrollEl = document.getElementById("extraScroll");
		    var ciframe;
		    
	        var navEl = document.getElementsByClassName("navbar")[0];
	        
	        var navIsHidden = false;
	        var iframeLoaded = false;
	        
	        var pageHeight;
	        var windowHeight;
	        
	        function resize() {
	            pageHeight = pageContentEl.offsetHeight;
	            windowHeight = window.innerHeight;
	        }
	         window.addEventListener("resize", resize, false);
	         resize();
	         
	         var hidingTimeout;
	         var appearingTimeout;
	        
	        function scrollChange() {
	            var scrollBottom = windowHeight + window.scrollY;
	            
	            if (window.scrollY >= pageHeight && !navIsHidden) {
	                iframeWrapperEl.style.visibility = "visible";
	                clearTimeout(hidingTimeout);
	                appearingTimeout = window.setTimeout(function() {
	                    navEl.classList.add("tucked");
	                    iframeWrapperEl.classList.add("presenting");
	                    iframeInnerEl.classList.add("presenting");
	                    presentTextEl.classList.add("presenting");
	                    downArrowEl.classList.add("presenting");
	                }, 500);
	                navIsHidden = true;
	            } else if (window.scrollY < pageHeight && navIsHidden) {
	                navEl.classList.remove("tucked");
	                iframeWrapperEl.classList.remove("presenting");
	                iframeInnerEl.classList.remove("presenting");
	                presentTextEl.classList.remove("presenting");
	                downArrowEl.classList.remove("presenting");
	                clearTimeout(appearingTimeout);
	                hidingTimeout = window.setTimeout(function() {
	                    iframeWrapperEl.style.visibility = "hidden";
	                }, 1000);
	                navIsHidden = false;
	            }
	            
	            if (window.scrollY >= pageHeight && !iframeLoaded) {
	                ciframe = document.createElement("iframe");
	                ciframe.className = "recursiveFrame";
	                ciframe.frameBorder = "0";
	                ciframe.src = "index.html";
	                iframeInnerEl.appendChild(ciframe);
	                browserURLinput.value = window.location;
	                iframeLoaded = true;
	            }
	        }
	        
	        window.onscroll = scrollChange;
	        scrollChange();
	        
		</script>
		{% include js.html %}
	</body>
</html>
